body {
	font-size: 16px;
	color: #61122f; /* color maroon/wine */
	background-color: #fff;
	font-family: 
}

/* HEADER */
#header-nav {
	background-color: #f6b319; /* color yellow */
	border: 0;
	border-radius: 0;
}
.navbar-brand {
	padding-top: 25px;
	height: 75px;
}
.navbar-brand h1 { /* Restaurant name */
	color: #61122f; /* color maroon/wine */
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	line-height: .75;
	margin-top: 0;
	margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list > li > a {
	text-align: center;
	color: #61122f; /* color maroon/wine */
	font-size: 1.5em;
}
#nav-list > li > a:hover {
	background-color: grey;
}
#toggle-button {
	margin-top: 18px;
	border: 1px solid #61122f; /* color maroon/wine */
}

#toggle-button .icon-bar {
	background-color: #61122f; /* color maroon/wine */
}

/* HOME PAGE */
#main-content h2 {
	margin-top: 0;
	margin-bottom: 40px;
}
#main-content h3 {
	text-align: center;
	margin-top: -5px;
}
#main-content section div {
	background-color: #f6b319; /* color yellow */
	padding: 15px;
	height: 1000px;
}

/********** Extra Small Devices **********/
@media (max-width: 767px) {
	/*Header*/
	.navbar-default .navbar-collapse {
	background-color: #61122f;
	}
	#nav-list > li > a {
		color: #f6b319; /* color yellow */
	}
	
	/* Main Content */
	#main-content section div {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}
