/* BASE STYLES */

* {
	box-sizing: border-box
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
h1 {
	text-align: center;
	font-size: 175%;
}

.row {
	width: 100%;
}

section div {
	position: relative;
	border: 1px solid black;
	background-color: #fcf8df;
	padding: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
}

span {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 15px;
	height: 20px;
	width: 30%;
	border: 0.3px solid black;
	font-size: 125%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#light-gold {
	background-color: #ffd700;
	color: black;

}
#dark-gold {
	background-color: #aa8f00;
	color: white;
	text-align: center;
}
#black {
	background-color: #2b2f38;
	color: white;
}

div > p {
	margin-top: 35px;
}

/* MEDIA QUERIES */

/* desktop */
		@media (min-width: 992px) {
			[class*="col-"] {
				float: left;
			}

			.col-lg-1 {
				width: 8.33%;
			}
			.col-lg-2 {
				width: 16.66%;
			}
			.col-lg-3 {
				width: 25%;
			}
			.col-lg-4 {
				width: 33.33%;
			}
			.col-lg-5 {
				width: 41.66%;
			}
			.col-lg-6 {
				width: 50%;
			}
			.col-lg-7 {
				width: 58.33%;
			}
			.col-lg-8 {
				width: 66.66%;
			}
			.col-lg-9 {
				width: 75%;
			}
			.col-lg-10 {
				width: 83.33%;
			}
			.col-lg-11 {
				width: 91.66%;
			}
			.col-lg-12 {
				width: 100%;
			}
		}

/* tablet */
		@media (min-width: 768px) and (max-width: 991px) {
			[class*="col-"] {
				float: left;
			}

			.col-md-1 {
				width: 8.33%;
			}
			.col-md-2 {
				width: 16.66%;
			}
			.col-md-3 {
				width: 25%;
			}
			.col-md-4 {
				width: 33.33%;
			}
			.col-md-5 {
				width: 41.66%;
			}
			.col-md-6 {
				width: 50%;
			}
			.col-md-7 {
				width: 58.33%;
			}
			.col-md-8 {
				width: 66.66%;
			}
			.col-md-9 {
				width: 75%;
			}
			.col-md-10 {
				width: 83.33%;
			}
			.col-md-11 {
				width: 91.66%;
			}
			.col-md-12 {
				width: 100%;
			}
		}

/* mobile */
		@media (max-width: 767px) {
			[class*="col-"] {
				float: left;
			}

			.col-sm-1 {
				width: 8.33%;
			}
			.col-sm-2 {
				width: 16.66%;
			}
			.col-sm-3 {
				width: 25%;
			}
			.col-sm-4 {
				width: 33.33%;
			}
			.col-sm-5 {
				width: 41.66%;
			}
			.col-sm-6 {
				width: 50%;
			}
			.col-sm-7 {
				width: 58.33%;
			}
			.col-sm-8 {
				width: 66.66%;
			}
			.col-sm-9 {
				width: 75%;
			}
			.col-sm-10 {
				width: 83.33%;
			}
			.col-sm-11 {
				width: 91.66%;
			}
			.col-sm-12 {
				width: 100%;
			}
		}
